@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@300..700&display=swap");

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }

  p {
    @apply font-paragraph;
  }
}

html {
  @apply text-slate-100;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
    opacity: 0.8;
  }
  50% {
    background-position: 100% 100%;
    opacity: 1;
  }
  100% {
    background-position: 0% 0%;
    opacity: 0.8;
  }
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slow-spin 6s linear infinite;
}

.vertical-line {
  position: absolute;
  margin-left: 3.123rem;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, #f2f2f2, #2a5959, #bf4324, #731716);
  background-size: 200% 200%;
  animation: pulse 4s ease-in-out infinite;
}

.horizontal-gradient {
  background: linear-gradient(90deg, #2a5959, #bf4324, #731716);
  background-size: 200% 200%;
  animation: pulse 4s ease-in-out infinite;
}

.link-with-underline {
  position: relative;
  text-decoration: none;
  transition: font-weight 0.5s ease;
}

.link-with-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.25rem;
  width: 12.5rem;
  height: 1px;
  background: #f2f2f2;
  background-size: 200% 200%;
  transition: width 0.3s ease-in-out;
}

.link-with-underline:hover {
  font-weight: 700;
}

.link-with-underline:hover::after {
  width: 16.5rem;
}

.underline {
  position: relative;
  text-decoration: none;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.25rem;
  width: 25rem;
  height: 1px;
  background: #f2f2f2;
}
